.slider {
  width: 728px;
  height: 504px;
  margin: 0 auto;
  position: relative;
}

.slider-item {

}
.slider-indicator-wrap {
  position: absolute;
  bottom: 10px;
  left: 50%
}
.slider-indicator-wrap .slider-indicator {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #222;
  border: 1px solid #fff;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}
.slider-control {
  position: absolute;
  top: 50%;
  height: 62px;
  width: 20px;
  color: #fff;
  line-height: 62px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  font-family: "宋体"
}
.slider-control-left {
  left: 0;
}
.slider-control-right {
  right: 0;
}
.slider-indicator-wrap .slider-indicator-active {
  border: 1px solid #222;
  background: #fff
}
.fadeOut {
  opacity: 0;
}
.slider-fade .slider-item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.slider-slide .slider-item {
  position: absolute;
  top: 0;
  left: 100%;
}
.slider-slide {
  overflow: hidden;
}
