html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
/* * {
  overflow: scroll;
} */
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#loading {
  width: 500px;
  height: 500px;
  padding-bottom: 100px;
  transform: rotate(90deg) scale(1.5);
}
.loading-main {
  width: 283px;
  height: 328px;
  background: url("../imgs/loading.jpg")no-repeat;
  animation: loading 5s linear infinite;
  animation-timing-function: step-start;
}
#percent {
  font-size: 30px;
  margin-top: 24px;
}
@-webkit-keyframes loading {
  from to{background-position:0 0}
  7.142857142857143%{background-position:-566px -328px}
  14.285714285714286%{background-position:-849px -328px}
  21.42857142857143%{background-position:0 -656px}
  28.571428571428573%{background-position:-283px -656px}
  35.714285714285715%{background-position:-566px -656px}
  42.85714285714286%{background-position:-849px -656px}
  50%{background-position:-1132px 0}
  57.142857142857146%{background-position:-1132px -328px}
  64.28571428571429%{background-position:-283px 0}
  71.42857142857143%{background-position:-566px 0}
  78.57142857142857%{background-position:-849px 0}
  85.71428571428572%{background-position:0 -328px}
  92.85714285714286%{background-position:-283px -328px}
}
